{% verbatim %}
{{# if (this.model.get('user')) { }}
    <div class="name">
        <p class="title-lato">
            {{# if (this.model.get('user')) { }}
                Welcome to Robin, {{this.model.get('user').fullName}}!
            {{#} }}
        </p>
    </div>
    <div class="subtitle-lato">
        <p>
            {{# if (this.model.get('user')) { }}
                Your Trello username is {{this.model.get('user').username}}
            {{#} }}
            <!-- {{this.model.get('user').toString()}} -->
        </p>
    </div>
    <div class="boards">
        <p class="boards-title">
            <em>Your boards:</em>
        </p>
        {{# _.each(this.model.get('boards'), function (b) { }}
            <p>
                {{b.name}}<br>
                <em>Board ID:</em> {{b.id}}<br>
                <em>Team ID:</em> {{b.idOrganization}}
            </p>
        {{# }); }}
    </div>
    <!-- <div class="organizations">
        <p class="organizations-title">
            <em>Your teams:</em>
        </p>
        {{# _.each(this.model.get('user').organizations, function (b) { }}
            <p>
                {{b.displayName}}
            </p>
        {{# }); }}
    </div> -->
{{# } else { }}
    <div class="">
        User not authed yet.
    </div>
{{# } }}
{% endverbatim %}
