{% verbatim %}
{{# if (this.model.get('user')) { }}
    <div class="name">
        <p class="title-lato">
            {{# if (this.model.get('user')) { }}
                Welcome to Robin, {{this.model.get('user').fullName}}!
            {{#} }}
        </p>
    </div>
    <div class="subtitle-lato">
        <p>
            {{# if (this.model.get('user')) { }}
                Your Trello username is {{this.model.get('user').username}}
            {{#} }}
            <!-- {{this.model.get('user').toString()}} -->
        </p>
    </div>
    <div class="boards">
        <p class="boards-title">
            <em>Your boards:</em>
        </p>
        {{# _.each(this.model.get('boards'), function (b) { }}
            <p>
                {{b.name}}<br>
                <!-- <small><b>{{b.desc}}</small></b><br> -->
                <!-- <small><em>Board ID:</em> {{b.id}}<br>
                <em>Team ID:</em> {{b.idOrganization}}</small><br> -->
                <!-- <small><em>Lists:</em></small> -->
                <!-- {{b.lists}} -->
                <!-- {{# _.each(b.lists, function (l) { }}
                    <p>{{l.name}}</p>
                {{# }); }} -->

            </p>
        {{# }); }}
    </div>
    <div class="organizations">
        <p class="organizations-title">
            <br><em>Your teams:</em>
            {{# _.each(this.model.get('organizations'), function (o) { }}
                <p>
                    {{o.name}}<br>
                    <small>{{o.desc}}<br></small>
                    {{o.boards}}
                </p>
            {{# }); }}
        </p>

    </div>
{{# } else { }}
    <div class="">
        User not authed yet.
    </div>
{{# } }}
{% endverbatim %}
